html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*1rem = 16px*/
}

h1{
    font-size: 2.5rem; 
}

h2{
    font-size: 1.8rem; 
}

.titulo{
    color: #0077b5;
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: #187e29;
    font-size: 2rem;
}

/*Estils horarios*/
table{
    width: 50%;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    border-collapse: collapse;
    border-color: #000000;
}

.AW{
    background-color: #8DEE00;
}

.SO{
    background-color: #088000;
}

.EIE{
    background-color: #4ABD8C;
}

.SX{
    background-color: #290087;
}

.Se{
    background-color: #84818E;
}

.Pati{
    background-color: #10b943;
}